<footer class="footer" aria-label="Seitenende">
  <div class="container footer__grid">
    <div>
      <h3>Archie on Tour</h3>
      <p>Foodtruck Catering · Musterstraße 12 · 50667 Köln</p>
    </div>
    <div>
      <h4>Kontakt</h4>
      <p><a href="mailto:hallo@archieontour.de">hallo@archieontour.de</a></p>
      <p><a href="tel:+4922112345678">+49 221 12345678</a></p>
      <div class="form__actions">
        <a class="nav__link" href="#start">Nach oben</a>
      </div>
    </div>
    <div>
      <h4>Rechtliches</h4>
      <p><a href="#">Impressum</a></p>
      <p><a href="#">Datenschutz</a></p>
    </div>
  </div>
</footer>
