<footer class="footer">
  <div class="container footer__grid">
    <div>
      <h3 class="footer__title">Archie on Tour</h3>
      <p>Foodtruck Catering · Musterstraße 12 · 12345 Musterstadt</p>
    </div>
    <div>
      <h3 class="footer__title">Kontakt</h3>
      <p><a href="mailto:hallo@archieontour.de">hallo@archieontour.de</a><br /><a href="tel:+4900000000">+49 000 000000</a></p>
      <p><a href="#anfrage">Anfrage starten</a></p>
    </div>
    <div>
      <h3 class="footer__title">Rechtliches</h3>
      <p><a href="#">Impressum</a><br /><a href="#">Datenschutz</a></p>
    </div>
  </div>
</footer>
