# To better understand this file read this:
# https://docs.ionos.space/docs/github-actions-customization/

name: "Deploy Now: Execute Build"

on:
  workflow_call:
    inputs:
      site-url:
        required: true
        type: string
      branch-id:
        required: true
        type: string

env:
  DEPLOYMENT_FOLDER: dist

jobs:
# Please do not rename this job
  build-project:
    name: build ArchiesOnTourMobileFIrst
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: v22.x

      - name: Build Node assets
        env:
          CI: true
          SITE_URL: ${{ inputs.site-url }}
          MENU_SHEET_ID: ${{ secrets.MENU_SHEET_ID }}
          MENU_SHEET_RANGE: ${{ secrets.MENU_SHEET_RANGE }}
          PUBLIC_DRIVE_API_KEY: ${{ secrets.PUBLIC_DRIVE_API_KEY }}
          CALENDAR_ID: ${{ secrets.CALENDAR_ID }}
          GALLERY_DRIVE_FOLDER_ID: ${{ secrets.GALLERY_DRIVE_FOLDER_ID }}
        run: |
          npm ci
          npm run build

# Please do not touch the following action
      - name: Store deployment content
        uses: ionos-deploy-now/artifact-action@v1
        with:
          api-key: ${{ secrets.IONOS_API_KEY }}
          service-host: api-eu.ionos.space
          project-id: b4e928eb-23ee-4123-ba53-5d8e83455e78
          branch-id: ${{ inputs.branch-id }}
          version: ${{ github.sha }}
          folder: ${{ env.DEPLOYMENT_FOLDER }}
          config-file: .deploy-now/ArchiesOnTourMobileFIrst/config.yaml
          action: upload
