name: ArchiesOnTourMobileFIrst - Orchestration

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    name: Call build workflow
    uses: ./.github/workflows/ArchiesOnTourMobileFIrst-build.yml
